@model Library_Management_System.Models.Member

@{
    ViewData["Title"] = "Delete Member";
}

<h1>Delete Member</h1>

<h3>Are you sure you want to delete this user?</h3>
<div>
    <h4>@Model.FullName</h4>
    <p>Are you sure you want to delete this user?</p>
</div>

<form asp-action="DeleteConfirm" asp-route-id="@Model.MemberID" method="post">
    <input type="hidden" asp-for="MemberID" /> <!-- Corrected Binding -->
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
    </div>
</form>
